.skill-item__title {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: 0;

  letter-spacing: 0.1em;

  @include md-min {
    font-size: 1.25rem;
  }
  @include md {
    font-size: 1.125rem;
  }
}
