.header {
  position: relative;
  min-height: 100vh;
  background-color: #2d3651;
  background-image: url(../img/img-header.png);
  background-position: center;
  background-size: cover;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;

  display: grid;
  align-content: center;
}
